<div xmlns:th="http://www.thymeleaf.org" class="superNav border-bottom py-2 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 centerOnMobile">
            <select  class="me-3 border-0 bg-light">
              <option value="en-us">Tiếng Việt</option>
            </select>
            <span class="d-none d-lg-inline-block d-md-inline-block d-sm-inline-block d-xs-none me-3"><strong>stoysstore@gmail.com</strong></span>
            <span class="me-3"><i class="fa-solid fa-phone me-1 text-warning"></i> <strong>0976341245</strong></span>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-none d-lg-block d-md-block-d-sm-block d-xs-none text-end">
            <span class="me-3"><i class="fa-solid fa-truck text-muted me-1"></i><a class="text-primary" href="#">Giao hàng</a></span>
            <span class="me-3"><i class="fa-solid fa-file  text-muted me-2"></i><a class="text-primary" href="#">Chính sách</a></span>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg sticky-top navbar-light p-3 shadow-sm nav_menu">
      <div class="container">
        <a class="navbar-brand" href="#"><i class="fa-solid fa-shop me-2"></i> <strong>S-TOYS</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class=" collapse navbar-collapse" id="navbarNavDropdown">
          </div>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link mx-2 text-uppercase" aria-current="page" th:href="@{/}">Trang chủ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2 text-uppercase" th:href="@{/}">Sản phẩm</a>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto ">
          
          <th:block th:if="${#request.remoteUser}">
            <li class="nav-item">            
               <a class="nav-link mx-2 text-uppercase" th:href="@{/admin/home/index}">Hóa đơn của bạn</a>
            </li>
             <li class="nav-item"
             th:if="${#request.isUserInRole('DIRE') or #request.isUserInRole('STAF')}">
              <a class="nav-link mx-2 text-uppercase" th:href="@{/admin/home/index}">Quản lý</a>
            </li>
             <li class="nav-item">            
               <a class="nav-link mx-2 text-uppercase" th:href="@{/security/logoff}">Đăng xuất</a>
            </li>
            </th:block>
            
            <th:block th:unless="${#request.remoteUser}">
             <li class="nav-item">
            <a class="nav-link mx-2 text-uppercase" th:href="@{/security/login/form}"><i class="fa-solid fa-circle-user me-1"></i> Đăng nhập</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2 text-uppercase" th:href="@{/security/register/form}"><i class="fa-solid fa-circle-user me-1"></i> Đăng ký</a>
            </li>
            </th:block>
            
          </ul>
        </div>
    </nav>